.cartDetails{
    text-align: center;
    padding: 1rem 3rem 0;
}
.cartDetails-top{
    border-top: 0 !important;
    padding: 1rem 3rem 1rem 0;
    text-align: center;
}


.caret{
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -8px;
    width: 100%;
    height: 8px;
    z-index: 1;
    display: block;
}

.caret::after {
    border: 1px solid #d2d2d7;
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg) skew(4deg, 4deg);
    transform: rotate(45deg) skew(4deg, 4deg);
    -webkit-transform-origin: 0% 0;
    transform-origin: 0% 0;
    background-color: #fff;
    margin-left: 10%; 
    
  }